body {
	background-color: black;
}

#button{
	background-color: red;
	box-shadow: 0 5px 0 darkred;
	border: 0px;
	color: white;
	padding: 1em 1.5em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

#button.hover {
	background-color: #ce0606;
}

#button.active {
	box-shadow: none;
	top: 5px;
}

.main {
	background-color: white;
	height: 31.25em;
	margin-top: 6.8em;
	min-width: 75em;
	position: relative;
	padding-left: 6.25em;
	z-index: 1;
}

.ryu {
	float: left;
	width: 41.18em;
	height: 30.87em;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 41.18em;
	height: 30.87em;
}

.ryu-ready, .ryu-throwing, .ryu-cool  {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.haduoken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

span {
	padding: 2px;
	background-color: grey;
	border-bottom: 2px white solid;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 9.75em;
	height: 5.6em;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	top: 10.43em;
	left: 33.87em;
}

.instructColor {
	color: white;
	padding-top: 30px;
	padding-left: 10px;
}

.instructColor > h1 {
	padding-bottom: 10px;
}

.instructions {
	color: white;
	font-size: 40px;
	padding-top: 20px;
}

li {
	padding-top: 10px;
}

h1 {
	font-size: 30px;
}
